.chatContent::-webkit-scrollbar {
    width: 0.3em;
}

.chatContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chatContent::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.chatContainer {
    border: solid black 1px;
    height: 100vh;
}

.chatBubble {
    word-wrap: break-word;
    max-width: 55%;
    margin: 2%;
    border-radius: 10px;
    padding: 2%;
}

.gray {
    background-color: #d6c9c9;
    color: black;
}

.blue {
    background-color: cornflowerblue;
    color: white;
    margin-right: 0;
    margin-left: auto;
}

.chatContent {
    width: 100%;
    height: 75%;
    /*border: solid black 2px;*/
    overflow: auto;
    padding-right: 30px;
}

.chatInput {
    width: 100%;
    height: 25%;
    /*border: solid black 2px;*/
}

#chatFormSubmitBtn {
    background-color: cornflowerblue;
    color: white;
}

#addon :hover{
    text-decoration: none;
    background-color: white;
    color: cornflowerblue;
    border: solid 1px cornflowerblue;
    border-radius:2px;
    cursor: pointer;
} 

#showNav {
    position: fixed;
    right: 5%;
    top: 5%;
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: #117e1a;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 30px;
    min-width: 30px;
    padding: 4px 3px 0 3px;
    text-align: center;
}

#toogleChatOrUserPanel {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: #bb6602;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 30px;
    min-width: 30px;
    padding: 4px 3px 0 3px;
    text-align: center;
}


@media screen and (min-width: 769px) {
    #hideNavbar, #showNav, #toogleChatOrUserPanel, .sidenav {
        visibility: hidden;
    }
}

/*This is we want a sidenavbar*/
/*@media screen and (max-width: 770px) {
    nav {
        visibility: hidden;
    }
}*/

#navbar {
    z-index: 10;
}
