.greenGlow{
    animation: green 0.5s;
}

.redGlow {
    animation: red 0.5s;
}

@keyframes green {
    0% {
        background-color:white
    }
    50% {
        background-color: #81fb8b
    }
    100% {
        background-color: white
    }
}

@keyframes red {
    0% {
        background-color: white
    }

    50% {
        background-color: #f66d6d
    }

    100% {
        background-color: white
    }
}

