.userPanelContainer {
    background-color: #efefef;
    border: solid black 1px;
    height:100vh;
    overflow: auto;
}

.faded{
    opacity:0.5;
}

#userSearchResult li:hover{
    cursor:pointer;
    background-color:#f1f1f1;
}

.profileCard{
    padding:1%;
    border-radius:10px;
    border: 1px black solid;
    background-color:white;
}

.card {
    width: 20rem;
    margin: auto;
    margin-top: 5%;
}

.card img {
    margin: auto;
    max-height: 30vh;
    padding-top: 10%;
}

@media screen and (min-width: 769px) {
    .userPanelContainer{
        height: 94vh;
    }
}