#userListContainer::-webkit-scrollbar {
    width: 0.3em;
}

#userListContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#userListContainer::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

#userListContainer {
    border-radius: 5px;
    padding: 0;
    overflow: auto;
    border-bottom: 1px solid black;
}

#userListHeader {
    background-color: cornflowerblue;
    border: solid 1px cornflowerblue;
    color: white;
    position: relative;
    position: fixed;
    width: 100%;
    padding: 2vh;
}

#usersOnlineList {
    list-style-type: none;
    padding-left: 0pt;
    padding-top: 7.7vh; 
}


.user-list-item {
    font-size: 15px;
    margin-bottom: 5%;
    margin-left: 5%;
    cursor: pointer;
}

.user-list-item :hover{
    /*background-color: white;
    border: 2px solid cornflowerblue;*/
}

.user-wrapper:hover {
    background-color: rgba(237, 236, 236, 0.8);
}

.userListProfilePicture {
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 5px;
    margin-right: 5%;
}

.isOnlineDot {
    width: 10px;
    height: 10px;
    background-color: limegreen;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    float: right;
    margin-top: 8%;
    margin-right: 10%
}

@media screen and (min-width: 769px) {
    #userListContainer {
        height: 94vh;
    }

}

@media screen and (max-width: 769px) {
    #userListHeader {
        position: absolute;
    }
    #usersOnlineList {
        margin-top: 8.9px;
    }

}
