.userPanelContainer {
    background-color: white;
    border: solid black 1px;
    height: 100vh;
}

.faded {
    opacity: 0.5;
}

#userSearchResult li:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

#profileCard {
    padding: 1%;
    border-radius: 30px;
    border: 2px solid cornflowerblue;
    /*background-color: #eceeef;*/
    margin-top: 50px;
}

.card {
    width: 20rem;
    margin: auto;
}

.card img {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    max-height: 30vh;
    margin: auto;
    border: solid 5px gray;
}

.cardTextDesign {
}
